numpy==2.2.6 ; python_version >= "3.13"
pandas==2.2.3 ; python_version >= "3.13"
yfinance==0.2.61 ; python_version >= "3.13"
matplotlib==3.10.3 ; python_version >= "3.13"
statsmodels==0.14.4 ; python_version >= "3.13"
seaborn==0.13.2 ; python_version >= "3.13"
pyportfolioopt==1.5.6 ; python_version >= "3.13"